// file: src/styles/page/signup/index.scss
@use '../../setting' as s;
@use '../../utility/flow' as u;
@use '../login/shared';
@use '../login/authenticate';

.c-authenticate {
	@extend %authenticate;
}

.c-signup {
	@extend %login;
}

.c-signup__heading {
	@extend %login__heading;
}

.c-signup__authenticate {
	@extend %login__authenticate;
}

.c-signup__conditions {
	& > * {
		--flow-space: 0.5rem;
		margin-block: 0;
	}

	@include u.flow;

	margin-block-start: 2rem;
	margin-inline: 0.5rem;

	& > h2 {
		color: s.from-color('black');
		font-size: inherit;
		font-weight: s.from-font-weight('bold');
	}
}
