// file src/styles/page/login/_authenticate.scss
@use '../../setting' as s;
@use '../../utility/flow' as u;

%authenticate {
	@include u.flow;
	line-height: 1.5rem;

	& label {
		margin-inline-end: -5ch;
		display: block;
		font-size: 0.875rem;
		font-weight: 600;
	}

	& input {
		appearance: none;
		border-radius: 0.375rem;
		border-width: 0;
		padding: 0.375rem 0.75rem;
		display: block;
		line-height: inherit;
		width: 100%;
		/* default gray ring */
		box-shadow:
			0 0 0 0px s.from-color('white'),
			0 0 0 1px s.from-color('gray-300'),
			0 1px 2px 0 oklch(0% 0 0deg / 0.05);

		&:focus {
			/* suppress default focus outine */
			outline: 2px solid transparent;
			outline-offset: 2px;
			/* focus shadow */
			box-shadow:
				0 0 0 0px s.from-color('white'),
				0 0 0 2px s.from-color('blue-300'),
				0 1px 2px 0 oklch(0% 0 0deg / 0.05);
		}

		@include s.at-breakpoint('md') {
			font-size: 0.875rem;
		}
	}

	& button {
		width: 100%;
		padding: 0.25rem;
		border-radius: 0.375rem;
		line-height: inherit;
		color: s.from-color('slate-900');
		background-color: s.from-color('blue-300');
		font-weight: 600;
		font-size: 0.875rem;
		cursor: pointer;

		&:hover {
			background-color: s.from-color('blue-200');
		}

		&:active {
			background-color: s.from-color('blue-500');
		}
	}

	.c-authenticate__error {
		color: s.from-color('error');
	}
}
